{{ template "header.html"}}

<div class="album mb-4 py-4 bg-light">
    <div class="container">
        <div class="row">
            <!-- loop videos -->
            {{range .videos}}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <figure class="text-center">
                            <blockquote class="blockquote">
                              <p>{{.Title}}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                {{.Author.Name}}, {{.Author.Age}}th (<a href="mailto:{{.Author.Email}}"><cite title="Email the author">{{.Author.Email}}</cite></a>)
                            </figcaption>
                          </figure>
                        <div class="card-text mt-2">
                            <div class="text-muted fst-italic text-break">
                                {{.Description }}
                            </div>
                            <dl class="row mt-2">
                                <dt class="col-12 col-md-3">URL</dt>
                                <dd class="col-12 col-md-9">: {{.URL}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

{{ template "footer.html"}}